<!-- TODO -->
<!-- User profile inspect map -->
<div class="modal fade modal-inspect-user-map" id="modal-inspect-user-map" tabindex="-1" role="dialog" aria-labelledby="modal-inspect-user-map-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="margin-0">Store name goes here, if long it will go 2 rows</h2>
                <p class="margin-top-0">Tehnička oprema</p>
                <div class="border-radius border overflow-hidden margin-bottom-sm">
                    <img src="http://placehold.it/1170x420/cccaaa/ffffff?text=google+maps" alt="">
                </div>
                <img class="margin-right-sm" src="http://placehold.it/20x20" alt="">Ulica Kralja Zvonimira 106, Zagreb
            </div>
        </div>
    </div>
</div>
