<!-- Upit kad se zeli napustiti stranicu -->
<!-- <script>
window.onbeforeunload = function(){
  return '';
};

var gServerUrl = "slaviceva40.zapto.org";

</script> -->


<script>
	
	//var gServerUrl = "http://slaviceva40.zapto.org/";
	var gServerUrl = window.location.hostname;
	
</script>
{#{ var_dump(_context) }#}

{% set _fiscalLocation =  null %}
{% if array_key_exists('_fiscal_location',_context) %}
	<!-- postoji KEY -->
	{% if _context['_fiscal_location'] > 0 %}
		<!-- veći od 0 -->
		{% set _fiscalLocation = _model.FiscalLocation ( _context['_fiscal_location'] ) %}
	{% endif %}
{% endif %}

{% if errors is  not defined %}
		{% set errors = null %}
{% endif %}
{# Admin/Backend Template View #}
<!DOCTYPE html>
<html lang="en">
	<head>
		{# kontroler od ovoga je common/controllers/BaseBackendController.php #}
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		{{ getTitle() }}
		
		<!-- this.assets.outputCss() -->
 
		
		{{ this.assets.outputCss() }}
		
   
		<!-- for script in head_scripts -->
		<!-- <script type="text/javascript" src="/assets/build/backend.min.js"></script> -->
		
		{% if head_scripts is defined and count(head_scripts) %}
			{%- for script in head_scripts -%}
				<script type="text/javascript">{{ script }}</script>
			{%- endfor -%}
		{%- endif %}
		
		
		
		
		<!--JS SKRIPTE - prebačeno na početak da bi se iz .volt pomoću <script></script>  mogao pokretat jQuery-->
		
		<!-- this.assets.outputJs() -->
		{{ this.assets.outputJs() }}
		
		<!-- iz varijable scripts -->
		{% if scripts is defined AND count(scripts) %}
			{% for script_id, script in scripts %}
				<script type="text/javascript"{% if script_id %} id="{{ script_id }}"{% endif %}>
					{{ script }}
				</script>
			{% endfor %}
		{% endif %}
	</head>
	
	
 <style>
	.form-control {
	
	padding: 0px 0px;
	
	}

</style> 
	<body>

		<script type="text/javascript">
			function postaviInvoiceType(pType){
				$('#_context_selected_order_status_id').val(pType);
				//alert($('#_context_selected_order_status_id').val());
			}
			
			function funkcija(){
				$("#page-wrapper").css('min-height','500px')
			}
			{#
			document.onLoad = function(){
				var obj = document.getElementById('page-wrapper');
				obj.style.minHeight = "500px";
			}
			#}
		</script>

		<div id="wrapper">
			<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; ">
				
				<br/>
				<!--MENIJI NA VRHU-->
				<div class="navbar-header" style="width:100%;">
					<div class="row">
						<div class="col-xs-12 col-xl-12">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"/>
								<span class="icon-bar"/>
								<span class="icon-bar"/>
							</button>
							{{- linkTo([ moduleRootDir
								, 'Oglasnik.hr Suva'
								, 'class' : 'navbar-brand'
								, 'style':'padding-top:0px; padding-bottom:0px;']) -}}
							&nbsp;&nbsp;
															
							
							{{ linkTo('admin', '<span class="fa fa-home fa-fw"/> ADMIN MODULE') }}	
							

							<!--ODABIR TELEFONSKOG BROJA -->
							{{ form(NULL, 'id':'frm_select_phone_number', 'method':'get',  'action' : '/' ~ moduleRootDir ~ '/korisnici/quickFind', 'style':'float:left;' )}}
								{{ hiddenField('_csrftoken') }}
								{{ hiddenField('next') }}
								<input type="hidden" name="field" value="phone1"/>
								<input type="hidden" name="mode" value="fuzzy"/>
								
								<input 
									   type="hidden" 
									   name="_context[selected_order_status_id]" 
									   id="_context_selected_order_status_id" 
									   value="{% if _context['selected_order_status_id'] is defined %}{{_context['selected_order_status_id']}}{% endif %}"/>
								
								<input 
									type="hidden"
									name="_context[selected_phone_number]" 
									id="_context_selected_phone_number_"
									value="{% if _context['selected_phone_number'] is defined %}{{_context['selected_phone_number']}}{% endif %}" 
								/>
								
								Search User:
								
								<input 
									name="q"
									id = "_field_q"
									value="{% if _context['selected_phone_number'] is defined %}{{_context['selected_phone_number']}}{% endif %}" 
									onchange="$('#_context_selected_phone_number_').val($(this).val()); document.getElementById('frm_select_phone_number').submit();"
								/>
								
								&nbsp;

								
								<input id="qFind" type="submit" value="GO"/>
								&nbsp;
								<!--<input 
									type="submit" 
									value="All users"
									onclick = " 
										//alert('onclick');
										//alert($('#_context_selected_phone_number_').val());
										$('#_context_selected_phone_number_').val('');
										$('#_field_q').val('');
										//alert($('#_context_selected_phone_number_').val());
										//document.getElementById('frm_select_phone_number').submit();
									"
									
								/> -->

								
							{{ endForm() }}
							<script>    
							/*$(document).ready(function() {
								
							$("#qFind").on("click", function(event){
								$("#_field_q").val("");
							});


							});*/
							</script>
							
							
							
							<!-- Meniji od odabranog korisnika -->
							{% if _context['selected_user_id'] is defined %}
								{# ako JE odabran korisnik #}
								{% set user_id = _context['selected_user_id'] %}
								{% set username = _model.User(user_id).username %}
								&nbsp;
								<span  
									style="cursor: pointer; padding: 4px; position:relative; font-family: 'Open Sans',sans-serif; font-size:14px; text-decoration:none; color:black; border:1px solid black; background-image:-webkit-linear-gradient(bottom, 0,  100%);  margin-right:5px;" 
									onclick="
										$('#_menu_topbar_category_selector2').toggle();
										$('#_context_selected_category_id_-input').focus();
										$('#create_ad_action').val('create_ad')
										$('#n_source').val('backend')
										$('.category_tag').text(' (Ad)')">
										<span class="fa fa-plus fa-fw" /></span>
										&nbsp;New Ad
								</span>
								<a href="/suva/ads2/crudDisplay?_context[default_values][category_id]=919&_context[default_values][user_id]={{_context ['selected_user_id']}}"  
									style="cursor: pointer; padding: 4px; position:relative; font-family: 'Open Sans',sans-serif; font-size:14px; text-decoration:none; color:black; border:1px solid black; background-image:-webkit-linear-gradient(bottom, 0,  100%);  margin-right:5px;" 
									>
									<span class="fa fa-plus fa-fw"/>
									&nbsp;New Display Ad
								</a>
								
								&nbsp;
								{{ linkTo([moduleRootDir ~'/korisnici/crud/' ~ user_id
										, ' User ' ~ username
										, 'class': controller_name == 'users' ? 'active top_link_tab' : 'top_link_tab']) }}

								&nbsp;
								{{ linkTo([moduleRootDir ~'/ads2/' ~ user_id
									, username ~ 's Ads'
									,'class': controller_name == 'ads2' ? 'active top_link_tab' : 'top_link_tab']) }}
								
								
								
							{% else %}
								{# ako nije odabran korisnik #}
								&nbsp;
								{#{ linkTo([moduleRootDir ~'/korisnici', ' All users ', 'class': controller_name == 'users' ? 'active top_link_tab' : 'top_link_tab']) }#}
								&nbsp;
								{#{ linkTo([moduleRootDir ~'/ads', ' Ads'  ,  'class': controller_name == 'ads' ? 'active top_link_tab' : 'top_link_tab']) }#}
								&nbsp;
								{{ linkTo([moduleRootDir ~'/fakture', 'All', 'class': controller_action == 'fakture' ? 'active top_link_tab' : 'top_link_tab']) }}
							{% endif %}
							
					<style>
						a.top_link_tab{
							font-weight:600;
						}
					</style>
							
							<span style="float:right; font-size:medium;">
								<!-- FISKALNA LOKACIJA-->
								
								<span>
									{% if _fiscalLocation %}
										{{ _fiscalLocation.name }}
									{% else %}
										<B>FISCAL LOCATION NOT SELECTED!!</B>
									{% endif %}
								</span>
								<!--TOP_RIGHT MENU ZA USERA -->
								{% if auth.logged_in() %}
									<span style="float:right; min-width:100px;">
										<ul class="nav navbar-top-links navbar-right" style="min-width:100px;">
											<li class="dropdown">				
												{{ linkTo([ '#'
													, 'class' : 'dropdown-toggle'
													, 'style' : 'padding-top:0px; padding-bottom:0px;'
													, 'data-toggle' : 'dropdown'
													, auth.get_user().username  ]) }}
												<ul class="dropdown-menu dropdown-user" >
													<li class="dropdown-header">{{ auth.get_user().email }}</li>
													<li class="divider"/>
													<li>{{ linkTo(moduleRootDir ~'/user', '<span class="fa fa-user fa-fw"/> Account') }}</li>
													<li>{{ linkTo(NULL, '<span class="fa fa-home fa-fw"/> Frontpage') }}</li>
													<li>{{ linkTo(moduleRootDir ~'/korisnici/crud/' ~ auth.get_user().id, '<span class="fa fa-home fa-fw"/> My Profile') }}</li>
													<li class="divider"/> 
													<li>{{ linkTo('user/signout' , '<span class="fa fa-sign-out fa-fw"/> Logout') }}</li>
												</ul>
											</li>
										</ul>
									</span>
								{% endif%}
							</span> 
						</div>
					</div>
					
					{#
					<!-- ODABIR KATEGORIJE -->
					<div class="row" id="_menu_topbar_category_selector" style="display:none;" >
						{{ form(NULL, 'id':'frm_select_category_id', 'method':'get',  'action' : '/' ~ moduleRootDir ~'/ads2/create' )}}
							{{ hiddenField('_csrftoken') }}	
							{{ hiddenField('next') }}
							<input type = "hidden" id = "create_ad_action" name = "_context[create_ad_action]" value = "create_ad" ></input>
								
							<div class = "col-xs-3 col-xl-3">..</div>
							<div class = "col-xs-2 col-xl-2 text-right">Category<span class="category_tag"></span></div>
								

								
								{{ partial("partials/ctlTextTypeV3",[
									'field' : '_context[selected_category_id]'
									, 'width' : 5
									, 'errors' : errors
									, 'model_name' : 'Categories'
									, 'expr_search' : 'n_path'
									, 'expr_value' : 'id' 
									, 'expr_show_input' : 'n_path'
									, 'expr_show_list' : 'n_path'
									, 'additional_where' : ' and transaction_type_id is not null '
									, 'nr_returned_rows' : 100
								]) }}
								
					

						
							<!-- TODO:  Igor: Šta radi onclick na ovom buttonu??-->
							<input 
								id = "category_submit" 
								type = "submit" 
								value = "GO"
							   onclick="document.getElementById('frm_select_category_id').submit()"
								   >
							</input>
						{{ endForm() }}
					</div>
					#}
					<!-- ODABIR KATEGORIJE 2-->
					<div class="row" id="_menu_topbar_category_selector2" style="display:none;" >
						{{ form(NULL, 'id':'frm_select_category_id', 'method':'get',  'action' : '/' ~ moduleRootDir ~'/ads2/create' )}}
							{{ hiddenField('_csrftoken') }}	
							{{ hiddenField('next') }}
							<input type = "hidden" id = "create_ad_action" name = "_context[create_ad_action]" value = "create_ad" ></input>
							<input type = "hidden" id = "n_source" name = "_context[n_source]" value = "n_source" ></input>
							<div class = "col-xs-3 col-xl-3">..</div>
							<div class = "col-xs-2 col-xl-2 text-right">Category<span class="category_tag"></span></div>
								

								
								{{ partial("partials/ctlTextTypeV3",[
									'field' : '_context[selected_category_id]'
									, 'width' : 5
									, 'errors' : errors
									, 'model_name' : 'Categories'
									, 'expr_search' : 'n_path'
									, 'expr_value' : 'id' 
									, 'expr_show_input' : 'n_path'
									, 'expr_show_list' : 'n_path'
									, 'additional_where' : ' and transaction_type_id is not null and active = 1'
									, 'nr_returned_rows' : 100
								]) }}
								
					

						
							<!-- TODO:  Igor: Šta radi onclick na ovom buttonu??-->
							<input 
								id = "category_submit" 
								type = "submit" 
								value = "GO"
							   onclick="document.getElementById('frm_select_category_id').submit()"
								   >
							</input>
						{{ endForm() }}
					</div>
					
					
				</div>
				<button id="menu-toggle" class="btn btn-primary" style="margin-left:5px;"><span class="glyphicon glyphicon-align-justify"></span> Toggle Menu</button>
				{{ form(NULL, 'id':'frm_select_phone_number', 'method':'get',  'action' : '/' ~ moduleRootDir , 'style':'float:right; margin-right:84%;' )}}
									{{ hiddenField('_csrftoken') }}
									{{ hiddenField('next') }}
									<input type="hidden" name="_context[selected_user_id]" value="__UNSET__"></input>
									<input type="hidden" name="_context[selected_phone_number]" value="__UNSET__"></input>

									<button type="submit" class="btn btn-warning">New call</button>
								{{ endForm() }}	
				<!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>  -->
				<!--MENIJI NA LIJEVOJ STRANI -->
				<div  class="navbar-default sidebar" role="navigation">
					<div 
						id ="toggle-menu" 
						class="sidebar-nav navbar-collapse" 
						style="
							height:100%; 
							width:250px;
							{% if array_key_exists('_menu_toggle', _context) %}
								display: none;
							{% endif %}
							"
						>
						<ul class="nav" id="side-menu">
							{#
							<li class="sidebar-search">
								<div class="input-group custom-search-form">
									<input type="text" class="form-control" placeholder="Search...">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button">
												<span class="fa fa-search fa-fw"/>
											</button>
									</span>
								</div>
							</li>
							#}
								
							{% if _model.isUserAllowed('mnuDashboard', auth.get_user().id) %}
								<li>{{ linkTo([moduleRootDir, '<span class="fa fa-dashboard fa-fw"/> Dashboard', 'class': controller_name == 'index' ? 'active' : '']) }}</li>
							{% endif %}
							<!-- OLD ADMIN -->
							{#	{% if _model.isUserAllowed('mnuAdmin', auth.get_user().id) %}	
									<li {% if controller_group == 'admin' %} class="active"{% endif %}>
										{{ linkTo('#', '<span class="fa fa-file fa-fw"/> OLD ADMIN<span class="fa arrow fa-fw"/>') }}
										<ul class="nav nav-second-level">
										<li>{{ linkTo(['admin', '<span class="fa fa-dashboard fa-fw"></span> Dashboard', 'class': controller_name == 'index' ? 'active' : '']) }}</li>

												{% if auth.logged_in(['admin','supersupport','support','moderator','sales']) %}
												<li{% if controller_group == 'users' %} class="active"{% endif %}>
													{{ linkTo('#', '<span class="fa fa-users fa-fw"></span> Users<span class="fa arrow fa-fw"></span>') }}
													<ul class="nav nav-second-level{% if controller_group != 'users' %} collapse{% endif %}">
												{% endif %}
														{% if auth.logged_in(['admin','supersupport','support','finance','moderator','sales']) %}
														<li>{{ linkTo(['admin/users', '<span class="fa fa-user fa-fw"></span> Users', 'class': controller_name == 'users' ? 'active' : '']) }}</li>
														{% endif %}
														{% if auth.logged_in(['admin','supersupport','support','moderator','sales']) %}
														<li>{{ linkTo(['admin/shops', '<span class="fa fa-shopping-cart fa-fw"></span> Shops', 'class': controller_name == 'shops' ? 'active' : '']) }}</li>
														{% endif %}
												{% if auth.logged_in(['admin','supersupport','support','sales','moderator']) %}
													</ul>
												</li>
												{% endif %}

												{% if auth.logged_in(['admin']) %}
												<li{% if controller_group == 'site-structure-management' %} class="active"{% endif %}>
													{{ linkTo('#', '<span class="fa fa-sitemap fa-fw"></span> Site structure management<span class="fa arrow fa-fw"></span>') }}
													<ul class="nav nav-second-level{% if controller_group != 'site-structure-management' %} collapse{% endif %}">
														<li{% if controller_group == 'site-structure-management' %} class="active"{% endif %}>
															{{ linkTo('#', '<span class="fa fa-folder fa-fw"></span> Categories<span class="fa arrow fa-fw"></span>') }}
															<ul class="nav nav-third-level">
																<li>{{ linkTo(['admin/categories', '<span class="fa fa-list fa-fw"></span> List all', 'class': controller_name == 'categories' ? 'active' : '']) }}</li>
																<li>{{ linkTo(['admin/sections', '<span class="fa fa-angle-double-right fa-fw"></span> Manage Sections', 'class': controller_name == 'sections' ? 'active' : '']) }}</li>
																<li>{{ linkTo(['admin/category-parameterization', '<span class="fa fa-angle-double-right fa-fw"></span> Manage Parameters', 'class': controller_name == 'category-parameterization' ? 'active' : '']) }}</li>
																<li>{{ linkTo(['admin/products-categories', '<span class="fa fa-angle-double-right fa-fw"></span> Manage Products', 'class': controller_name == 'products-categories' ? 'active' : '']) }}</li>
															</ul>
														</li>
														<li>{{ linkTo(['admin/parameters', '<span class="fa fa-cube fa-fw"></span> Parameters', 'class': controller_name == 'parameters' ? 'active' : '']) }}</li>
														<li>{{ linkTo(['admin/dictionaries', '<span class="fa fa-book fa-fw"></span> Dictionaries', 'class': controller_name == 'dictionaries' ? 'active' : '']) }}</li>
													</ul>
												</li>
												{% endif %}

												{% if auth.logged_in(['admin','supersupport','support','moderator','finance','sales']) %}
												<li{% if controller_group == 'ads' %} class="active"{% endif %}>
													{{ linkTo('#', '<span class="fa fa-file fa-fw"></span> Ads<span class="fa arrow fa-fw"></span>') }}
													<ul class="nav nav-second-level{% if controller_group != 'ads' %} collapse{% endif %}">
														<li>{{ linkTo(['admin/ads', '<span class="fa fa-file fa-fw"></span> All ads', 'class': controller_action == 'index' ? 'active' : '']) }}</li>
														<li>{{ linkTo(['admin/ads/awaiting-moderation', '<span class="fa fa-clock-o fa-fw"></span> Awaiting moderation', 'class': controller_action == 'awaitingModeration' ? 'active' : '']) }}</li>
													</ul>
												</li>
												{% endif %}

												{% if auth.logged_in(['admin','finance','supersupport']) %}
												<li>{{ linkTo(['admin/orders', '<span class="fa fa-credit-card fa-fw"></span> Orders', 'class': controller_name == 'orders' ? 'active' : '']) }}</li>
												{% endif %}

												{% if auth.logged_in(constant("Baseapp\Models\InfractionReports::ALLOWED_ROLES")) %}
												<li>{{ linkTo(['admin/infraction-reports', '<span class="fa fa-exclamation-triangle fa-fw text-danger"></span> Infraction reports', 'class': controller_name == 'infraction-reports' ? 'active' : '']) }}</li>
												{% endif %}

												{% if auth.logged_in(['admin','content']) %}
												<li>{{ linkTo(['admin/media', '<span class="fa fa-th fa-fw"></span> Media', 'class': controller_name == 'media' ? 'active' : '']) }}</li>
												{% endif %}

												{% if auth.logged_in('admin') %}
												<li>{{ linkTo(['admin/image-styles', '<span class="fa fa-cog fa-fw"></span> Image styles', 'class': controller_name == 'image-styles' ? 'active' : '']) }}</li>
												{% endif %}

												{% if auth.logged_in(['admin','content']) %}
												<li{% if controller_group == 'cms' %} class="active"{% endif %}>
													{{ linkTo('#', '<span class="fa fa-newspaper-o fa-fw"></span> CMS<span class="fa arrow fa-fw"></span>') }}
													<ul class="nav nav-second-level{% if controller_group != 'cms' %} collapse{% endif %}">
														<li>{{ linkTo(['admin/cms-categories', '<span class="fa fa-folder fa-fw"></span> Categories', 'class': controller_name == 'cms-categories' ? 'active' : '']) }}</li>
														<li>{{ linkTo(['admin/cms-articles', '<span class="fa fa-pencil fa-fw"></span> Articles', 'class': controller_action == 'index' ? 'active' : '']) }}</li>
														<li>{{ linkTo(['admin/cms-articles/aktualno', '<span class="fa fa-bullhorn fa-fw"></span> Aktualno', 'class': controller_action == 'aktualno' ? 'active' : '']) }}</li>
														<li>{{ linkTo(['admin/cms-articles/latest-ads-exclusions', '<span class="fa fa-bullhorn fa-fw"></span> Latest ads exclusions', 'class': controller_action == 'latestAdsExclusions' ? 'active' : '']) }}</li>
													</ul>
												</li>
												{% endif %}

												{% if auth.logged_in('admin') %}
												<li>{{ linkTo(['admin/export2avus', '<span class="fa fa-share-square-o fa-fw"></span> Export2Avus', 'class': controller_name == 'export2avus' ? 'active' : '']) }}</li>
												<li>{{ linkTo(['admin/notices', '<span class="fa fa-envelope fa-fw"></span> Company notices', 'class': controller_name == 'notices' ? 'active' : '']) }}</li>
												<li>{{ linkTo(['admin/email-templates', '<span class="fa fa-envelope-square fa-fw"></span> Email Templates', 'class': controller_name == 'email-templates' ? 'active' : '']) }}</li>
												{% endif %}
												{% if auth.logged_in(['admin','supersupport','support']) %}
												<li>{{ linkTo(['admin/audit', '<span class="fa fa-history fa-fw"></span> Audit Log', 'class': controller_name == 'audit' ? 'active' : '']) }}</li>
												{% endif %}
											
											
											
											
									<!-- DODAVAT MENIJE PRIJE OVOGA		 -->
											</ul>
												
											
										</li>
									

									
							{% endif %} #}
							<!-- OLD ADMIN END	 -->
							
							{% if _model.isUserAllowed('mnuAdmin', auth.get_user().id) %}	
								<li {% if controller_group == 'admin' %} class="active"{% endif %}>
									{{ linkTo('#', '<span class="fa fa-file fa-fw"/> Admin<span class="fa arrow fa-fw"/>') }}
									<ul class="nav nav-second-level">
<!-- 										<li>{{ linkTo(['admin/actions/actRefreshFromNav', '<span class="fa fa-th fa-fw"/> Refresh from NAV', 'class': controller_name == 'actions' ? 'active' : '']) }}</li> -->
										<li>{{ linkTo([moduleRootDir ~'/publications', '<span class="fa fa-th fa-fw"/> Publications', 'class': controller_name == 'publications' ? 'active' : '']) }}</li>
										<li>{{ linkTo([moduleRootDir ~'/products', '<span class="fa fa-th fa-fw"/> Products', 'class': controller_name == 'products' ? 'active' : '']) }}</li>
										<li>{{ linkTo([moduleRootDir ~'/discounts', '<span class="fa fa-th fa-fw"/> Discounts', 'class': controller_name == 'discounts' ? 'active' : '']) }}</li>
										<li>{{ linkTo([moduleRootDir ~'/layoutss', '<span class="fa fa-th fa-fw"/> Layouts', 'class': controller_name == 'discounts' ? 'active' : '']) }}</li>
										<li>{{ linkTo([moduleRootDir ~'/payment-types', '<span class="fa fa-th fa-fw"/> Payment Types', 'class': controller_name == 'payment-types' ? 'active' : '']) }}</li>
										<li>{{ linkTo([moduleRootDir ~'/payment-methods', '<span class="fa fa-th fa-fw"/> Payment Methods', 'class': controller_name == 'payment-methods' ? 'active' : '']) }}</li>
										<li>{{ linkTo([moduleRootDir ~'/issues', '<span class="fa fa-th fa-fw"/> Issues', 'class': controller_name == 'issues' ? 'active' : '']) }}</li>
										<li>{{ linkTo([moduleRootDir ~'/dtp-groups', '<span class="fa fa-th fa-fw"/> DTP Groups', 'class': controller_name == 'dtp-groups' ? 'active' : '']) }}</li>										
										<li>{{ linkTo([moduleRootDir ~'/discounts-publications', '<span class="fa fa-th fa-fw"/> Discounts on publications', 'class': controller_name == 'discounts-products' ? 'active' : '']) }}</li>
										<li>{{ linkTo([moduleRootDir ~'/fiscal-locations', '<span class="fa fa-th fa-fw"/> Fiscal locations', 'class': controller_name == 'fiscal-locations' ? 'active' : '']) }}</li>
										<li>{{ linkTo([moduleRootDir ~'/products-categories-prices', '<span class="fa fa-th fa-fw"/> Products - Categories Prices', 'class': controller_name == 'products-categories-prices' ? 'active' : '']) }}</li>
										{% if _model.isUserAllowed('mnuSystem', auth.get_user().id) %}
											<li>{{ linkTo('#', '<span class="fa fa-file fa-fw"/> System <span class="fa arrow fa-fw"/>') }}
												<ul class="nav nav-third-level">
													<li>{{ linkTo([moduleRootDir ~'/app-settings', '<span class="fa fa-th fa-fw"/> App Settings', 'class': controller_name == 'app-settings' ? 'active' : '']) }}</li>
													<li>{{ linkTo([moduleRootDir ~'/actions', '<span class="fa fa-th fa-fw"/> System Actions', 'class': controller_name == 'actions' ? 'active' : '']) }}</li>
													<li>{{ linkTo([moduleRootDir ~'/roles-permissions', '<span class="fa fa-th fa-fw"/> Permissions by user roles', 'class': controller_name == 'roles-permissions' ? 'active' : '']) }}</li>
													<li>{{ linkTo([moduleRootDir ~'/obrade', '<span class="fa fa-th fa-fw"/> Obrade', 'class': controller_name == 'obrade' ? 'active' : '']) }}</li>
													<li>{{ linkTo([moduleRootDir ~'/moderation-reasons', '<span class="fa fa-th fa-fw"/> Moderation Reasons', 'class': controller_name == 'moderation-reasons' ? 'active' : '']) }}</li>
												</ul>
											</li>
										{% endif %}
									</ul>
								</li>
							{% endif %}
							<!-- TOOLS MENU 	 -->
							{#{% if _model.isUserAllowed('mnuTools', auth.get_user().id) %}	
								<li {% if controller_group == 'tools' %} class="active"{% endif %}>
									{{ linkTo('#', '<span class="fa fa-users fa-fw"/> Tools<span class="fa arrow fa-fw"/>') }}
									<ul class="nav nav-second-level">
										<li {% if controller_group == 'site-structure-management' %} class="active"{% endif %}>
										{{ linkTo('#', '<span class="fa fa-sitemap fa-fw"/> Site structure management<span class="fa arrow fa-fw"/>') }}
											<ul class="nav nav-third-level">
												<li {% if controller_group == 'site-structure-management' %} class="active"{% endif %}>
													{{ linkTo('#', '<span class="fa fa-folder fa-fw"/> Categories<span class="fa arrow fa-fw"/>') }}
													<ul class="nav nav-forth-level">
														<li>{{ linkTo([moduleRootDir ~'/categories', '<span class="fa fa-list fa-fw"/> List all', 'class': controller_name == 'categories' ? 'active' : '']) }}</li>
														<li>{{ linkTo([moduleRootDir ~'/sections', '<span class="fa fa-angle-double-right fa-fw"/> Manage Sections', 'class': controller_name == 'sections' ? 'active' : '']) }}</li>
														<li>{{ linkTo([moduleRootDir ~'/category-parameterization', '<span class="fa fa-angle-double-right fa-fw"/> Manage Parameters', 'class': controller_name == 'category-parameterization' ? 'active' : '']) }}</li>
														<li>{{ linkTo([moduleRootDir ~'/products-categories', '<span class="fa fa-angle-double-right fa-fw"/> Manage Products', 'class': controller_name == 'productsCategories' ? 'active' : '']) }}</li>
													</ul>
												</li>
												<li>{{ linkTo([moduleRootDir ~'/parameters', '<span class="fa fa-cube fa-fw"/> Parameters', 'class': controller_name == 'parameters' ? 'active' : '']) }}</li>
												<li>{{ linkTo([moduleRootDir ~'/dictionaries', '<span class="fa fa-book fa-fw"/> Dictionaries', 'class': controller_name == 'dictionaries' ? 'active' : '']) }}</li>
											</ul>
										</li>
										<li {% if controller_group == 'cms' %} class="active"{% endif %}>
										{{ linkTo('#', '<span class="fa fa-newspaper-o fa-fw"/> CMS<span class="fa arrow fa-fw"/>') }}
											<ul class="nav nav-second-level">
												<li>{{ linkTo([moduleRootDir ~'/cms-categories', '<span class="fa fa-folder fa-fw"/> Categories', 'class': controller_name == 'cms-categories' ? 'active' : '']) }}</li>
												<li>{{ linkTo([moduleRootDir ~'/cms-articles', '<span class="fa fa-pencil fa-fw"/> Articles', 'class': controller_name == 'cms-articles' ? 'active' : '']) }}</li>
											</ul>
										</li>	
										<li>{{ linkTo([moduleRootDir ~'/image-styles', '<span class="fa fa-cog fa-fw"/> Image styles', 'class': controller_name == 'image-styles' ? 'active' : '']) }}</li>						
										<li>{{ linkTo([moduleRootDir ~'/export2avus', '<span class="fa fa-share-square-o fa-fw"/> Export2Avus', 'class': controller_name == 'export2avus' ? 'active' : '']) }}</li>
										<li>{{ linkTo([moduleRootDir ~'/email-templates', '<span class="fa fa-envelope-square fa-fw"/> Email Templates', 'class': controller_name == 'email-templates' ? 'active' : '']) }}</li>
										<li>{{ linkTo([moduleRootDir ~'/audit', '<span class="fa fa-history fa-fw"/> Audit Log', 'class': controller_name == 'audit' ? 'active' : '']) }}</li>
									</ul>								
								</li>
							{% endif %} #}	
							{% if _model.isUserAllowed('mnuUsers', auth.get_user().id) %}	
								<li>{{ linkTo([moduleRootDir ~'/korisnici', '<span class="fa fa-user fa-fw"/> Users', 'class': controller_name == 'users' ? 'active' : '']) }}</li>
								{#<li>{{ linkTo([moduleRootDir ~'/shops', '<span class="fa fa-shopping-cart fa-fw"/> Shops', 'class': controller_name == 'shops' ? 'active' : '']) }}</li>#}
							{% endif %}	
								
							{% if _model.isUserAllowed('mnuReports', auth.get_user().id) %}
								<li>{{ linkTo([moduleRootDir ~'/reports', '<span class="fa fa-file fa-fw"/> Reports', 'class': controller_name == 'reports' ? 'active' : '']) }}</li>
							{% endif %}
								
							{% if _user.isAllowed('mnuAds') %}		
								<li	{% if controller_group == 'ads' %} class="active"{% endif %}>
									{{ linkTo('#', '<span class="fa fa-file fa-fw"/> Ads<span class="fa arrow fa-fw"/>') }}
									<ul class="nav nav-second-level">
										<li>{{ linkTo([moduleRootDir ~'/ads2', '<span class="fa fa-file fa-fw"/> All ads', 'class': controller_action == 'index' ? 'active' : '']) }}</li>
										<li>{{ linkTo([moduleRootDir ~'/ads2/awaiting-moderation', '<span class="fa fa-clock-o fa-fw"/> Awaiting moderation', 'class': controller_action == 'awaitingModeration' ? 'active' : '']) }}</li>
									</ul>
								</li>
							{% endif %}
							
<!-- 							{% if _model.isUserAllowed('mnuOrders', auth.get_user().id) %}
								<li>{{ linkTo(['admin/orders', '<span class="fa fa-credit-card fa-fw"/> Orders', 'class': controller_name == 'orders' ? 'active' : '']) }}</li>
							{% endif %} -->
								
							{% if _model.isUserAllowed('mnuFakture', auth.get_user().id) %}
								<li {% if controller_group == 'fakture' %} class="active"{% endif %}>
									{{ linkTo('#', '<span class="fa fa-file fa-fw"/> Fakture<span class="fa arrow fa-fw"/>') }}
									<ul class="nav nav-second-level">
										{% for os in _model.OrdersStatuses() %}
											<li class="bg-success"> 
												{{ linkTo([moduleRootDir ~'/fakture?field=&mode=fuzzy-end&q=&n_status=' ~ os.id ~ '&order_by=created_at&dir=desc&limit=20'
													, '<span class="fa fa-file fa-fw"/> ' ~ os.description
													, 'class': controller_action == 'fakture' ? 'active' : '']) }}
											</li>
										{% endfor  %}
										<li class="bg-success"> 
											{{ linkTo([moduleRootDir ~'/fakture/index'
												, '<span class="fa fa-file fa-fw"/> All Statuses'
												, 'class': controller_action == 'fakture' ? 'active' : '']) }}
										</li>
									</ul>
								</li>
							{% endif %}
								
							
							{% if _model.isUserAllowed('mnuNotices', auth.get_user().id) %}	
								<li>{{ linkTo([moduleRootDir ~'/notices', '<span class="fa fa-envelope fa-fw"/> Company notices', 'class': controller_name == 'notices' ? 'active' : '']) }}</li>
							{% endif %}
								
							
								
							
						</ul>
						<div class="text-center" style="padding:15px;">
							<small>&copy; {{ date('Y') }} <span class="text-muted"> | {{ version() }}</span>
							</small>
						</div>
					</div>
				</div>
			</nav>
			
			
			
<link rel="stylesheet" type="text/css" href="/assets/css/uploadable-sorter.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/pictureSorter.css" />
<link rel="stylesheet" type="text/css" href="/assets/vendor/jquery-file-upload/jquery.fileupload.css" />

<script type="text/javascript" src="/assets/vendor/jquery-file-upload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/assets/vendor/jquery-file-upload/jquery.fileupload.js"></script>
			
			
			<!--SADRŽAJ STRANICE-->
			<!-- <div id="page-wrapper" style="padding-top:12px; min-width:400px; max-width:100%; max-height:50% !important; min-height:500px !important !important;"> -->
			<div id="page-wrapper" style="background-color: white; padding-top:12px; width:100%; max-height:50% !important; min-height:500px !important !important;
			{% if array_key_exists('_menu_toggle', _context) %}
				margin-left: -0px;
			{% endif %}
			">
				{{ content() }}
			</div>
			
			
			<!-- DROPDOWN ZA FISKALNU LOKACIJU-->
			{% if ! _fiscalLocation  %}
				<div  class="modal" style="display: block;" tabindex="-1" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Choose fiscal location</h4>
							</div>
							{{ form(NULL, 'id' : 'frm_register', 'method' : 'post', 'autocomplete' : 'off') }}
								{{ hiddenField('_csrftoken') }}
								{{ hiddenField('next') }}
								<div class="modal-body">
									{% set field = '_context[_fiscal_location]' %}
									<div class="form-group">
										<select id="{{field}}" name="{{field}}" class="form-control" title="Publication">
											{%- for pub in _model.FiscalLocations() -%}
												<option value="{{ pub.id }}">{{ pub.name }}</option>
											{%- endfor -%}
										</select>   
									</div>
									<div class="modal-footer">
										<button type="submit" id="save-fisclok" class="btn btn-primary">Save changes</button>
									</div>
							{{ endForm() }}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
			

			
			<script type="text/javascript">
				var obj = document.getElementById('page-wrapper');
				obj.style.minHeight = "500px";
				

    $(window).bind("load resize", function() {
				var obj = document.getElementById('page-wrapper');
				obj.style.minHeight = "500px";
            });
				
				
			</script>
			
			
		</div>
		<!-- SAKRIJ PRIKAZI BOCNI MENI -->
		{% if array_key_exists('_menu_toggle', _context) %}

			{% if _context['_menu_toggle']  == 1 %}

				<script>
					//alert("Ima menu toggle");
					$("#toggle-menu").hide();
					$('#page-wrapper').addClass('isOut');
				</script>
			{% else %}

				<script>
					$("#toggle-menu").show();
					$('#page-wrapper').removeClass('isOut');
				</script>
			{% endif %}
		{% endif %}
		
		<script>
			
				$("#menu-toggle").click(function(){
					//ajaxPushToContext('_menu_toggle', 1);
				
					
					$("#toggle-menu").delay(100).toggle(0);
				
					$('#page-wrapper').toggleClass('isOut');
					var isOut = $('#page-wrapper').hasClass('isOut');
					
					if (isOut == true ){
						console.log("push menu toggle 1");
						ajaxPushToContext('_menu_toggle', 1);
						$('#page-wrapper').animate({marginLeft: '-0px' }, 300);
					}
					else{
						console.log("push menu toggle 0");
						ajaxPushToContext('_menu_toggle');
						$('#page-wrapper').animate({marginLeft: '250px' }, 300);
					}
					//$('#page-wrapper').animate({marginLeft: isOut ? '-0px' : '250px'}, 300)

				});

		</script>
		<script>
		$(document).ready(function() {
			$(window).keydown(function(event){
			if(event.keyCode == 13) {
			event.preventDefault();
			return false;
			}
		});
		});
		
		</script>
	</body>
</html>
	