ul.uploadable-sorter { list-style:none; padding:0; }
ul.uploadable-sorter li { padding:15px; }
ul.uploadable-sorter .placeholder { background-color:#fff; }

.uploadable-sorter-box { position:relative; padding:5px; border:1px solid #f0f0f0; background-color:#fff; }
.uploadable-sorter-box:hover { border:1px solid #e5e5e5; }
.uploadable-sorter-box .drag-me { cursor: move; color:#616161; }
.uploadable-sorter-box .drag-me:hover { color:#018be3; }

.uploadable-sorter-box-item { display:block; margin-bottom:5px; min-height:60px; }
.uploadable-sorter-box-item img { max-width:100%; height:auto; cursor:move; }
